@import "syntax-variables";

.variable-persistent {
  color: #82AAFF;
}

.code-section {
  border-top: 1px solid @syntax-selection-color;
  display: block;
}

atom-text-editor {
  .syntax--source.syntax--matlab {
    .syntax--comment.syntax--line.syntax--double-percentage {
      .code-section
    }
    .syntax--meta.syntax--variable.syntax--persistent {
      .variable-persistent
    }
  }

  .gutter:hover {
		.line-number.section-start .icon-right {
			visibility: visible;

			&:hover {
				opacity: 1;
			}
		}
	}
}
